{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Machine Learning</title>
    <!--
    Hydro Template
    http://www.templatemo.com/tm-509-hydro
    -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css'%}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css'%}">     <!-- MAIN CSS -->
    <link rel="stylesheet" href="{% static 'css/templatemo-style.css'%}">
    <script type="text/javascript">
        window.history.forward();
        function noBack(){
        window.history.forward();
        }
    </script>
</head>
<body onload="noBack();" onpageshow="if(event.persisted) noBack();" onunload="">

<!-- PRE LOADER -->
<section class="preloader">
    <div class="spinner">
        <span class="spinner-rotate"></span>
    </div>
</section>
<!-- MENU -->
<section class="navbar custom-navbar navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- MENU LINKS -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-nav-first">
                <li><a href="{% url 'index'%}" class="smoothScroll">Home</a></li>
                <li><a href="{% url 'user'%}" class="smoothScroll">User</a></li>
                <li><a href="{% url 'admins'%}" class="smoothScroll">Admin</a></li>
                <li><a href="{%url 'searchahashtags'%}" class="smoothScroll">Search</a></li>
                <li><a href="{% url 'trendingtopics' %}" class="smoothScroll">Trending</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <h4 style="color:BLUE">Machine Learning and Deep Learning Techniques for Sentiment Analysis</h4>
            </ul>
        </div>
    </div>
</section>
<!-- HOME -->
{% block contents %}

{% endblock %}
<!-- CONTACT -->
<section id="contact" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
           <!-- <div class="col-md-12 col-sm-12">
                <div class="section-title">
                    <h2>Contact us</h2>
                    <span class="line-bar">...</span>
                </div>
            </div>
            <div class="col-md-8 col-sm-8">
                <!-- CONTACT FORM HERE -->
               <!-- <form id="contact-form" role="form" action="#" method="post">
                    <div class="col-md-6 col-sm-6">
                        <input type="text" class="form-control" placeholder="Full Name" id="cf-name" name="cf-name"
                               required="">
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <input type="email" class="form-control" placeholder="Your Email" id="cf-email" name="cf-email"
                               required="">
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <input type="tel" class="form-control" placeholder="Your Phone" id="cf-number" name="cf-number"
                               required="">
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <select class="form-control" id="cf-budgets" name="cf-budgets">
                            <option>Budget Level</option>
                            <option>$500 to $1,000</option>
                            <option>$1,000 to $2,200</option>
                            <option>$2,200 to $4,500</option>
                            <option>$4,500 to $7,500</option>
                            <option>$7,500 to $12,000</option>
                            <option>$12,000 or more</option>
                        </select>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <textarea class="form-control" rows="6" placeholder="Your requirements" id="cf-message"
                                  name="cf-message" required=""></textarea>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <input type="submit" class="form-control" name="submit" value="Send Message">
                    </div>
                </form>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="google-map">
                    <!-- How to change your own map point
                            1. Go to Google Maps
                            2. Click on your location point
                            3. Click "Share" and choose "Embed map" tab
                            4. Copy only URL and paste it within the src="" field below
                    -->
                  <!--  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d60901.23290749723!2d78.30475483657243!3d17.444053474511907!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb93a276decedf%3A0x2c12e79e6f9344e2!2sGachibowli%2C+Hyderabad%2C+Telangana!5e0!3m2!1sen!2sin!4v1566213860928!5m2!1sen!2sin"
                            width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>-->
            </div>
        </div>
    </div>
</section>


<!-- FOOTER -->
<footer data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">

            <div class="col-md-5 col-sm-12">
                <div class="footer-thumb footer-info">
                    <h2>LSTM (Long Short Term Memory)</h2>
                    <p>It is a type of Recurrent Neural Network. Its ability to use its internal state memory to process
                        sequences is superior. It can be used for a diverse set of modeling tasks. It is capable of
                        storing a state over a long period of time. It overcomes the shortcomings of recurrent neural
                        network such as the fact that the gradient vector vanishes or declines after long periods of
                        time. The middle layer in a LSTM is a forgot gate. For effective long term learning, the forgot
                        gate is used to decide the data that needs to be memorized and the data that needs to be
                        forgotten. The middle layer takesdata from the input layer and the output layer displays the
                        result. </p>
                </div>
            </div>

            <div class="col-md-2 col-sm-4">
                <div class="footer-thumb">
                    <h2>Deep Learning</h2>
                    <p>It is a more complex and detailed sub-part of Machine Learning. It consists of different types of
                        neural networks and neural beliefs that loosely work on the principle of the neurons in a
                        brain.</p>
                </div>
            </div>

            <div class="col-md-2 col-sm-4">
                <div class="footer-thumb">
                    <h2>Decision Trees</h2>
                    <p>Decision tree is mainly used for classification problems. The tree is segregated based on the
                        significant attributes or features which are also known as the independent variables.</p>
                </div>
            </div>

            <div class="col-md-3 col-sm-4">
                <div class="footer-thumb">
                    <h2>SVM Classifier</h2>
                    <p>In SVM there exists an n-dimensional space where n is the number of features present in the
                        feature vector. Each of the data items present in the training set is plotted in this n
                        dimensional space with the value of each feature being the value of the coordinate. The main
                        principle of this method is to find out linear separators in this n-dimensional space which best
                        segregate the various classes.</p>
                </div>
            </div>

            <div class="col-md-12 col-sm-12">
                <div class="footer-bottom">
                    <div class="col-md-6 col-sm-5">
                        <div class="copyright-text">
                            <p>Copyright &copy; 2019 Alexa Tech</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-7">
                        <div class="phone-contact">
                            <p>Call us <span>(+91) 9949257870</span></p>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>


<!-- MODAL -->
<section class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content modal-popup">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">

                        <div class="col-md-12 col-sm-12">
                            <div class="modal-title">
                                <h2>Hydro Co</h2>
                            </div>

                            <!-- NAV TABS -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="active"><a href="#sign_up" aria-controls="sign_up" role="tab"
                                                      data-toggle="tab">Create an account</a></li>
                                <li><a href="#sign_in" aria-controls="sign_in" role="tab" data-toggle="tab">Sign In</a>
                                </li>
                            </ul>

                            <!-- TAB PANES -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="sign_up">
                                    <form action="#" method="post">
                                        <input type="text" class="form-control" name="name" placeholder="Name" required>
                                        <input type="telephone" class="form-control" name="telephone"
                                               placeholder="Telephone" required>
                                        <input type="email" class="form-control" name="email" placeholder="Email"
                                               required>
                                        <input type="password" class="form-control" name="password"
                                               placeholder="Password" required>
                                        <input type="submit" class="form-control" name="submit" value="Submit Button">
                                    </form>
                                </div>

                                <div role="tabpanel" class="tab-pane fade in" id="sign_in">
                                    <form action="#" method="post">
                                        <input type="email" class="form-control" name="email" placeholder="Email"
                                               required>
                                        <input type="password" class="form-control" name="password"
                                               placeholder="Password" required>
                                        <input type="submit" class="form-control" name="submit" value="Submit Button">
                                        <a href="https://www.facebook.com/templatemo">Forgot your password?</a>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- SCRIPTS -->
<script src="{% static 'js/jquery.js'%}"></script>
<script src="{% static 'js/bootstrap.min.js'%}"></script>
<script src="{% static 'js/jquery.stellar.min.js'%}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js'%}"></script>
<script src="{% static 'js/smoothscroll.js'%}"></script>
<script src="{% static 'js/custom.js'%}"></script>

</body>
</html>