{% extends 'base.html' %}
{% load static %}
{% block contents%}
<section id="home" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="home-info">
                    <h1>Enter Your Hashtag</h1>
                    <form action="{%url 'searchresults'%}" id="contact-form" role="form" action="#" method="POST">
                        {% csrf_token %}
                        <div class="col-md-6 col-sm-6">
                            <input type="text" class="form-control" placeholder="Enter Hashtag name" id="cf-name"
                                   name="cf-name" required=""><br/>

                        </div>
                        <div class="col-md-6 col-sm-6">
                        <input type="tel" class="form-control" placeholder="Enter Limit" id="cf-number" name="cf-limit"
                               required="">
                    </div>
                        <br>
                        <button class="btn section-btn smoothScroll">Search</button>
                    </form>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 ">
                <img src="{% static 'images/bla.jpeg'%}" class="img-responsive" alt="">
                <h1>Naive Bayes Classifier</h1>
                <h5 style="color:White">Naive Bayes classifier is considered as very straightforward and easy to
                    implement. It is not a single algorithm but is comprised of a collection of various classification
                    algorithms based on the Bayes theorem; a theorem which is used to describe the probability of an
                    event. This probabilistic classifier makes use of all the all the various features present in the
                    feature vector, analyzing them differently, that is considering them independent of each other.</h5>
            </div>
        </div>
    </div>
</section>
{% endblock%}